<!DOCTYPE html>
<html>
  <head>
    <title>Catbank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="overall-wrapper">
    <nav>
      <ul>
        <li><a href="/">CatBank</a></li>
        <% if @account.present? %>
          <li><%= link_to "Account", account_path(@account) %></li>
          <li><%= link_to "Transactions", account_account_transactions_path(@account) %></li>
          <li style="float: right"><%= link_to "Logout", destroy_user_session_path(@user), data: { turbo_method: :delete } %></li>
        <% end %> 
      </ul>
    </nav>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
